@page "/all-users"
@using Shared.Dtos

<h3 class="page-title">All Users</h3>
<div class="container">
    <table class="user-table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (UserDto user in _users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <button class="btn btn-info" @onclick="() => NavigateToUserDetails(user.Id)">View Details</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="load-more-container">
        <button class="btn btn-primary" @onclick="LoadMoreUsers" disabled="@_isLoading">Load More</button>
    </div>
</div>