/* Анімація для появи таблиці користувачів */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    animation: fadeIn 0.5s ease-out;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

/* Кнопка завантаження */
.btn-primary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #005f99;
    transform: scale(1.05);
}

.btn-primary:active {
    transform: scale(0.95);
}

.btn-primary:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
}