@using Shared.Helpers
@inject IJSRuntime Js
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/all-users">DevUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="() => OnToggleSidebar.InvokeAsync()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        @if (!_isTokenPresent)
        {
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                    Home
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="auth">
                    <span class="bi bi-person-nav-menu" aria-hidden="true"></span>
                    Sign Up / Sign In
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item">
                <button class="nav-link" @onclick="Logout">
                    <span class="bi bi-logout-nav-menu" aria-hidden="true"></span>
                    Logout
                </button>
            </div>
        }
    </nav>
</div>

@code {
    [Parameter] public EventCallback OnToggleSidebar { get; set; }

    private bool _collapseNavMenu = false;
    private bool _isTokenPresent;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        _isTokenPresent = await JwtTokenHelper.GetJwtTokenFromCookies(Js, Navigation) != null;
    }

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private async Task Logout()
    {
        await JwtTokenHelper.RemoveJwtTokensFromCookiesAsync(Js, Navigation);
    }
}
