@page "/change-password"
@using UI.Configurations
@using UI.Services
@inject IToastService ToastService
@inject IUISettings UISettings
@inject IHttpClientService HttpClientService

<EditForm Model="Request" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="page-container">
        <div class="header-section">
            <h2>Change Password</h2>
        </div>

        <div class="profile-content">
            <InputText type="password" @bind-Value="Request.OldPassword" class="form-control" placeholder="Old Password" />
            <ValidationMessage For="@(() => Request.OldPassword)" />

            <InputText type="password" @bind-Value="Request.NewPassword" class="form-control" placeholder="New Password" />
            <ValidationMessage For="@(() => Request.NewPassword)" />

            <InputText type="password" @bind-Value="Request.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <ValidationMessage For="@(() => Request.ConfirmPassword)" />
        </div>

        <div class="profile-actions">
            <button class="btn-primary" type="submit">Submit</button>
            <button class="btn-secondary" type="button" @onclick="ResetForm">Reset</button>
        </div>
    </div>
</EditForm>